

<% if user_signed_in? %>
  <%= render 'courses/feed' %>
<% else %>
  <div id = "home_page_top">
	<h1>Welcome to Teach.me</h1>
  </div>
  
  <div id = "home_page_left">
	
  </div>
  
  <div id = "home_page_center">
  
  </div>

  <div id = "home_page_right">
	
  </div>
<% end %>



